@media(max-width: 1080px)
{
    .container
    {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

@media(max-width: 880px)
{
    section
    {
        padding: 4rem 0 3rem;
    }

    .properties_container
    {
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        gap: 1rem;
        padding: 0 10px;
    }

    .footer_container
    {
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        gap: 1rem;
    }

    .login
    {
        grid-template-columns: 0.3fr 1fr;
    }
}

@media(max-width: 768px)
{
    .nav
    {
        padding: 10px 0;
    }

    #menu_icon
    {
        display: initial;
    }

    .navbar
    {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--text-color);
        text-align: center;
        clip-path: circle(0% at 100% 1%);
        transition: 0.6s;
    }

    .navbar a
    {
        display: block;
        margin: 1rem;
        padding: 20px;
        color: var(--bg-color);
    }

    #menu:checked ~ .navbar
    {
        clip-path: circle(144% at 100% 1%);
    }

    .about_text span
    {
        font-size: 0.9rem;
    }

    .about_text h2, .heading h2, .nwesletter h2
    {
        font-size: 1.4rem;
    }
}

@media(max-width: 638px)
{
    .about_text
    {
        text-align: center;
    }

    .about_img
    {
        order: 2;
    }
    .login
    {
        grid-template-columns: 0.8fr 1fr;
    }

    .login
    {
        margin-top: 3rem;
    }
}

@media(max-width: 572px)
{
    .login_img
    {
        display: none;
    }

    .login
    {
        justify-content: center;
        grid-template-columns: 1fr;
    }
}

@media(max-width: 442px)
{
    .home_text
    {
        padding-right: 14px;
    }

    .home_text h1
    {
        font-size: 1.7rem;
    }

    .about_text h2, .heading h2, .nwesletter h2
    {
        font-size: 1.2rem;
    }

    .properties_container
    {
        padding: 0;
    }

    .nwesletter #email_box
    {
        width: 200px;
    }

    .footer
    {
        border-radius: 0;
    }
}